<div class="row m-0 gy-4 ">
    <% products.map(product =>{%>
        <div class="col col-6 col-lg-3 col-md-4 col-sm-6 p-0">
          <div class="card border-0 m-auto" id="<%= product._id %>">
            <div class="w-100 h-100 position-relative overflow-hidden card-img-top-container">
              <a href="/shop/<%= product._id %>">
                <img src="<%= product.image %>" loading="lazy" class="card-img-top" alt="<%= product.name %>">
              </a>
              <button class="add-btn show-btn btn rounded-0 fw-semibold position-absolute d-flex justify-content-center align-items-center gap-3"
                onclick="showItem('<%= product._id %>')">
                <img src="assets/eye-full.svg" class="view-icon" alt="quick view">Quick view
              </button>
            </div>
            <div class="card-body px-0">
              <div class="d-flex justify-content-between">
                <a class="text-secondary" href="/shop/<%= product._id %>">
                  <p class="card-text fw-semibold mb-0 product-name"><%= product.name %></p>
                </a>
                <button class="btn border-0 p-0">
                  <img src="assets/favorite.svg" class="fav-icon" alt="add to favorite">
                </button>
              </div>
              <div class="price-slider mt-1 w-100 position-relative overflow-hidden">
                <% if (product.max) { %>
                  <p class="card-text fw-semibold text-secondary position-absolute m-0">$<%= product.min %> - $<%= product.max %></p>
                <% } else { %>
                  <p class="card-text fw-semibold text-secondary position-absolute m-0">$<%= product.min %></p>
                <% } %>
                <a href="/checkout"><button class="card-text rounded-0 border-0 w-100 p-0 btn fw-semibold text-secondary text-start position-absolute">Buy</button></a>
              </div>
            </div>
          </div>
        </div>
    <% }) %>
</div>

  